.lead 
{
	align-items: center;
	font-style: italic;
}

.jumbotron
{
	text-align: center;
}

.h1
{
	text-align: center;
	align-items: center;
}
#profile
{
	width: 270px;
	height: 270px;
	position: relative;
    overflow: hidden;
    border-radius: 50%;
}

#javascript
{
	width: 100px;
	height: 100px;
}
#react
{
	width: 100px;
	height: 100px;
}

#html
{
	width: 100px;
	height: 100px;
}
#jquery
{
	width: 100px;
	height: 100px;
}

#github
{
	width: 100px;
	height: 100px;
}
.card-header
{
	font-weight: bold;
}
.ui-progressbar 
{
    position: relative;
}
.progress-label 
{
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0
}

.card
{
	border: none;
}

h1
{
	font-family: 'Bungee Inline';
	font-weight: bold;
	text-align: center;
	align-items: center;
	color: #761111;

}
.img-rounded
{
	width: 300px;
	height: 300px;
	margin-top: 50px;
	margin-left: 20px;
}
.nav
{
	background-color: grey;
	font-weight: bold;
	position: sticky;
}
h5
{
	align-items: center;
	text-align: center;
	font-style: italic;
	color: darkblue;
}

.img-rounded1
{
	width: 50px;
	height: 50px;
	margin-left: 60px;

}
#github
{
	width: 60px;
	height: 60px;
	margin-left: 60px;
}
#twitter
{
	width: 65px;
	height: 65px;
	margin-left: 60px;
}
.card-header
{
	background-color: #2F4F4F;
	color: white;
	border-radius: 20px;
}
.card-body
{
	background-color: #D2B48C;
	color: black;
}
.jumbotron
{
	height: 400px;
	background-image: url("http://www.xigentsolutions.com/content/uploads/sites/4/2017/11/TopTenStrTechTrends2017_Header_Final.jpg");
}
#Working-Skill
{
	font-size: 40px;
	font-family: 'Bungee Inline';
	font-weight: bold;
	text-align: center;
	align-items: center;
	color: #761111
}
.caption
{
	text-align: center;
	font-style: italic;
	background-color: silver;
	width: 340px;
	border-radius: 10px;
}

.nav-item
{
	color: white;
}
.headline
{
	text-align: center;
	align-items: center;
}
#About
{
	font-size: 40px;
	font-family: 'Bungee Inline';
	/*font-weight: bold;*/
	text-align: center;
	align-items: center;
	color: #761111;
}
#background-tech
{
	border-radius: 15px;
	height: 400px;
	background-color: silver;
}

hr {
color: #f00;
background-color: #f00;
height: 0.5px;
}
.display-4
{
	font-family: 'Bungee Inline';
	font-weight: bold;
	font-size: 60px;
	color: darkgrey;
}

#footer
{
	text-align: center;
	background-color: darkgrey;
	align-items: center;
}