.lead 
{
	align-items: center;
}
.jumbotron
{
	text-align: center;
}

.h1
{
	text-align: center;
	align-items: center;
}
#profile
{
	width: 270px;
	height: 270px;
	position: relative;
    overflow: hidden;
    border-radius: 50%;
}

#javascript
{
	width: 100px;
	height: 100px;
}
#react
{
	width: 100px;
	height: 100px;
}

#html
{
	width: 100px;
	height: 100px;
}
#jquery
{
	width: 100px;
	height: 100px;
}

#github
{
	width: 100px;
	height: 100px;
}
.card-header
{
	font-weight: bold;
}
.ui-progressbar 
{
    position: relative;
}
.progress-label 
{
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0
}

.card
{
	border: none;
}

h1
{
	font-family: Arial;
}
.img-rounded
{
	width: 300px;
	height: 300px;
}
.nav
{
	background-color: silver;
	font-weight: bold;
}
.direction
{
	

